<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Show Page</title>

</head>
<body>
    <nav>
        <a href="/marsMissions">Back to HomePage</a>
    </nav>
    
    <h1>Items ShowCase Page</h1>
     <b>Name:</b>  <%= marsMission.name%> <br />
    <b>LaunchDate:</b> <%= marsMission.launchDate%> <br/>
    <b>Operator:</b> <%= marsMission.operator%> <br/>
    <b>MissionType:</b> <%= marsMission.missionType%> <br/>
    <b>Image:</b> <a href="<%=marsMission.img%>"><%=marsMission.img%></a><br/>

    
</body>
</html>